<nav>
    <img src="/images/moonLogo.png" alt="MOON">
    <div>
        <a href="/admin/account"><img src="/images/admin.svg" alt=""></a>
        <a href="/admin/dashboard"><img src="/images/statistics-svgrepo-com.svg" alt="Home"></a>
        <a href="/admin/"><img src="/images/fairytale.png" alt="Stories"></a>
    </div>
</nav>
