<nav>
        <img src="/images/moonLogo.png" alt="MOON">
        <div>
            <a href="/update-voice"><img src="/images/userAddVoice.png" alt="Home"></a>
            <a href="/useraccount"><img src="/images/userAccount.png" alt="Stories"></a>
        </div>
</nav>